language: node_js

node_js:
  - "4"
  - "6"
env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

before_install:
  - npm install -g node-gyp

before_script:
  - node-gyp rebuild

script:
  - node test/test.js
